doctype html
html(lang="en")
    //- include ../components/head.pug
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(rel="icon" href="assets/img/cerebro.ico")
        link(rel="stylesheet" href="sass/index.css")
        block perfil
        title Neurai Dev
    body        
        //- include ../components/header.pug
        i.icon-menu.burger-button#burger-menu
        header.header
            nav.header__contenedor
                #menu
                    ul
                        li
                            button(onclick="store()") Tienda
                #menu
                    ul
                        li
                            button(onclick="profile()") Mi perfil
                #menu
                    ul
                        li
                            button(onclick="registro()") Registro
                #menu
                    ul
                        li
                            button(onclick="tiendas()") Tiendas

        //- include ../components/main.pug
        main.container 
            section.logo
                img(src="../assets/img/cerebro.svg" alt="Logo")
                h4 Neurai Dev
            block contenido

        block futer
        footer.footer
            section.info-dev 
                h4.gradiente-text Desarrollado por:<br>Julián España
                img(src="assets/img/developer_2.jpg", alt="Desarrollador")
                .education
                    h5 Técnico en sistemas                
                    img(src="assets/img/logos/sena.png", alt="Logo SENA")
                    h5 Tecnólogo en Análisis de sistemas
                    img(src="assets/img/logos/sena.png", alt="Logo SENA")
                    h5 Desarrollador Front-End
                    img(src="assets/img/logos/platzi.jpg", alt="Logo Platzi")                      
            section.social 
                button(onclick="redes()")
                    img(src="assets/img/icons/red.png", alt="")
                      //- button(onclick="linkedin()" target="_blank") 
                      //-     img(src="./assets/img/network/linkedin.png", alt="LinkedIn")
                      //- button(onclick="twitter()")
                      //-     img(src="./assets/img/network/twitter.svg", alt="Twitter")
                      //- button(onclick="facebook()")
                      //-     img(src="./assets/img/network/facebook.png", alt="Facebook")
                      //- button(onclick="whatsapp()")
                      //-     img(src="./assets/img/network/whatsapp.svg", alt="Whatsapp")

        script(src="js/animations.js") 
        script(src="js/pages.js")
        script(src="https://unpkg.com/sweetalert/dist/sweetalert.min.js")
