include ./configuraciones.pug
section.presentation             
    ul.tipos 
        li#slide1
            img(src="assets/img/accesorios/celulares/soporte movil/1.jpg", alt="Soporte móvil para celulares")
        li#slide2
            img(src="assets/img/accesorios/laptops/mouse/1.jpg", alt="Mouse inalámbrico")
        li#slide3
            img(src="assets/img/accesorios/salud/oximetro/1.jpg", alt="Medidor de pulso")
    ul.selector 
        li
            a(href="#slide1")
        li
            a(href="#slide2")
        li
            a(href="#slide3")
section.accesorios                 
    section.accesorios-tipo 
        h2 Celulares
        ul.contenedor
            +boxCel(titleCel[0],'cableusbiphone/1.jpg')
            +boxCel(titleCel[1],'sandisk16/foto1.jpg')
            +boxCel(titleCel[2],'cableusb/1.png')
            +boxCel(titleCel[3],'soporte/1.jpg')
            +boxCel(titleCel[4],'soporte movil/1.jpg')
            +boxCel(titleCel[5],'Correa/1.jpg')
            +boxCel(titleCel[6],'vidrio/1.jpg')
            +boxCel(titleCel[7],'Microfono/1.jpg')
            +boxCel(titleCel[8],'usbtipoc/1.jpg')                
    section.accesorios-tipo 
        h2 Computador
        ul.contenedor 
            +boxLap(titleLap[0],'Microfono/3.jpg')                        
            +boxLap(titleLap[1],'cargadorlenovo/1.jpg')
            +boxLap(titleLap[2],'memoriausb3.0/1.png')
            +boxLap(titleLap[3],'ram2gb/1.png')
            +boxLap(titleLap[4],'router-450.png')
            +boxLap(titleLap[5],'mouse/1.jpg')
            +boxLap(titleLap[6],'carcasa/1.jpg')
    section.accesorios-tipo 
        h2 Salud
        ul.contenedor   
            +boxHealth(titleHealth[0],'termometro/1.jpg')
            +boxHealth(titleHealth[1],'oximetro/1.jpg')
                
    section.accesorios-tipo 
        h2 Libros
        ul.contenedor 
            +boxBooks(titleBooks[0],'electronica.jpeg')
            +boxBooks(titleBooks[1],'elon.png')
            +boxBooks(titleBooks[2],'fisicaserway.png')
            +boxBooks(titleBooks[3],'fundamentoscircuitos.jpeg')
            +boxBooks(titleBooks[4],'java9na.jpeg')