footer.footer
    section.info-dev 
        h4.gradiente-text Desarrollado por:<br>Julián España
        img(src="assets/img/developer_2.jpg", alt="Desarrollador")
        .education
            h5 Técnico en sistemas                
            img(src="assets/img/logos/sena.png", alt="Logo SENA")
            h5 Tecnólogo en Análisis de sistemas
            img(src="assets/img/logos/sena.png", alt="Logo SENA")
            h5 Desarrollador Front-End
            img(src="assets/img/logos/platzi.jpg", alt="Logo Platzi")
              
    section.social 
        button(onclick="redes()")
            img(src="assets/img/icons/red.png", alt="")
              //- button(onclick="linkedin()" target="_blank") 
              //-     img(src="./assets/img/network/linkedin.png", alt="LinkedIn")
              //- button(onclick="twitter()")
              //-     img(src="./assets/img/network/twitter.svg", alt="Twitter")
              //- button(onclick="facebook()")
              //-     img(src="./assets/img/network/facebook.png", alt="Facebook")
              //- button(onclick="whatsapp()")
              //-     img(src="./assets/img/network/whatsapp.svg", alt="Whatsapp")