i.icon-menu.burger-button#burger-menu
header.header
    nav.header__contenedor
        #menu
            ul
                li
                    button(onclick="store()") Tienda
        #menu
            ul
                li
                    button(onclick="profile()") Mi perfil
        #menu
            ul
                li
                    button(onclick="registro()") Registro
        #menu
            ul
                li
                    button(onclick="tiendas()") Tiendas